astroid==2.12.12
cassandra-driver==3.25.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.0.3
dill==0.3.6
dnspython==2.2.1
Flask==2.0.2
Flask-PyMongo==2.3.0
geomet==0.2.1.post1
gunicorn==20.1.0
idna==3.4
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.1.2
lazy-object-proxy==1.8.0
MarkupSafe==2.1.1
mccabe==0.7.0
platformdirs==2.5.2
pykerberos==1.2.4
pylint==2.15.5
pymongo==4.2.0
python-dotenv==0.21.0
python-snappy==0.6.1
requests==2.28.1
six==1.16.0
tomli==2.0.1
tomlkit==0.11.6
urllib3==1.26.12
Werkzeug==2.0.2
wrapt==1.14.1
