@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    background-color: #150734;
}

a {
    color: grey;
}

a:hover {
    color: white;
    text-shadow: 2px 2px 5px #150734
}

.container-fluid {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Medium and Small Device CSS*/
.top-row-md{
    text-align: center;
    color: black;
}

/* Color CSS*/

.top-row-color{
    background-color: #0F2557;
}

.my-story-color{
    background-color: #28559A;
}

.milestone-1-color{background-color: #3778C2;}
.milestone-2-color{background-color: #4B9FE1;}
.milestone-3-color{background-color: #63BCE5;}
.milestone-4-color{background-color: #7ED5EA;}

#top-row {
    padding-left: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    font-weight: 700;
    position: absolute;
    color: black;
}

#bottom-row {
    padding-left: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-right: none;
    text-align: left;
    font-weight: 700;
    color: black;
}

#top-my-story{
    text-align: center;
}
#top-my-story, #bottom-my-story{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-right: none;
    font-weight: 700;
    color: black;
}

#top-my-story :hover, #top-my-story :focus {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black
}

#linkedin-icon,
#github-icon {
    color: black;
    text-align: center;
    font-size: 3rem;
    padding-right: 2rem;
}

#linkedin-icon:hover,
#github-icon:hover{
    color: white;
    text-shadow: 2px 2px 5px black
}

#top-milestone-1,
#bottom-milestone-1,
#top-milestone-2,
#bottom-milestone-2,
#top-milestone-3,
#bottom-milestone-3,
#top-milestone-4,
#bottom-milestone-4 {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
}

#top-milestone-1 {
    text-align: center;
}

#top-milestone-1 :hover, #top-milestone-1 :focus {
    background-color: #3778C2;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black
}

#top-milestone-2 {
    text-align: center;
}

#top-milestone-2 :hover, #top-milestone-2 :focus {
    background-color: #4B9FE1;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black
}

#top-milestone-3 {
    text-align: center;
}

#top-milestone-3 :hover, #top-milestone-3 :focus {
    background-color: #63BCE5;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black
}

#top-milestone-4 {
    text-align: center;
}

#top-milestone-4 :hover, #top-milestone-4 :focus {
    background-color: #7ED5EA;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black
}

/* Card CSS */

@media only screen and (max-width: 991px) {

    #top-row {
        text-align: center;
    }
}